:root{
    --neutral: #f2f2f2;
    --main-bg: #1f5692;
    --main-bg-darker: #113357;
    --footer-bg: #e48809;
    --title: #f66b1d;
}

p{
    text-align: justify;
  }
  
  a{
    text-decoration: none;
  }


img{
    width:100%;
    height:auto;
}

section {
  margin: 0 auto;
  padding:0;
  background: url() no-repeat;
  background-size: cover;
  width:80%;
  }

.dropdown-list{
    opacity:0%;
    display:flex;
    flex-direction: column;
    position:absolute;
    top:80%;
    left:50%;
    transform:translate(-50%,0);
    padding:10px;
    margin:0;
    list-style: none;
    border:none;
    background:var(--footer-bg);
    min-height:fit-content;
    min-width:max-content;
    transition:0.8s ease-in-out;
    pointer-events: none;
}

.dropdown-list a{
    color:var(--main-bg);
    padding:15px;
}

.dropdown-list a:hover{
    background:var(--main-bg-darker);
    border: 1px dashed var(--footer-bg);
}

.navbutton:hover .dropdown-list, .dropdown-list:hover{
    opacity:100%;
    top:100%;
    z-index:100;
    pointer-events: all;
}

.commune-card img{
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
    max-width: 400px;
}

.commune-card h2{
    position: absolute;
    transform: translate(100%,100%);
    color:white;
}

.commune-card:hover h2{
    text-decoration: underline;
}

nav{
    background-color: var(--footer-bg);
    height: 10vh;
    position:-webkit-fixed;
    position:fixed;
    top:-1px;
    left:50%;
    transform:translate(-50%,0);
    width:80%;
    margin:0 auto;
    z-index:100;
}

nav>ul{
display:flex;
flex-direction:row;
justify-content: space-between;
height: 100%;
margin:0;
border-bottom: solid var(--main-bg) 4px;
padding:0;
}

nav>ul>li{
list-style:none;
width:fit-content;
height:100%;
background-color: var(--footer-bg);
color:var(--main-bg);
font-weight: bold;
}

nav>ul>li img{
    max-height:100%;
    width:auto;
    position:relative;
    left:0;
}

a.w3-button:hover{
    background-color:var(--main-bg) !important;
    color:var(--footer-bg) !important;
}

nav>ul>li>a.w3-button{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

nav ul .navbutton {
display:inline-block;
width:max-content;
text-align: center;
line-height: 3em;
position: relative;
list-style: none;
}


#team{
margin-top: 2em;
}

table{
width:100%;
}

tr{
display:flex;
flex-wrap: wrap;
justify-content: space-between;
width:100%;
}

td{
margin: 2em 1em;
text-align: center;
line-height: 1em;
}

td img{
max-width: 10em;
max-height: 20em;
}

.people{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:5vh;
}

.indiv img{
    height:calc(30px + 10vw);
    width:calc(30px + 10vw);
    object-fit: cover;
    border-radius: 10px;
    border:solid 1px black;
}

.indiv p{
    text-align: center;
    font-weight: bold;
    font-size:calc(1em + 2vh)
}

blockquote{
    position: relative;
    padding-left: 1em;
    font-family: 'Roboto', serif;
    font-size: 2.3em;
    line-height: 1.5em;
    font-weight: 100;
    text-align: center;
}

blockquote:after, blockquote:before {
    font-family: Calibri;
    color: #039be5;
    font-size: 34px;
  }

blockquote:before {content: '\201e'}
blockquote:after {content: '\201c';}


.pdf {
    text-indent: 10%;
    line-height:1.4em;
    text-align: left;
}

.pdf a{
    color:var(--title);
}

.pdf a:before {
    content:url("../images/file-pdf-solid.svg");
    margin-left: 4px;
    display: inline-block;
    width: 12px;
    height: 12px;
    filter: invert(19%) sepia(94%) saturate(7483%) hue-rotate(2deg) brightness(106%) contrast(119%);
}

footer{
    position:static;
    left:0;
    bottom:0;
    color: var(--main-bg);
    border-top:solid 1px black;
    background: var(--footer-bg);
    width:100vw;
    min-height:7vh;
    text-align:center;
}
header {
    height:10vh;
}

.banner{
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
}

.commune-holder{
    display:flex;
    flex-direction: row;
    position:absolute;
    right:0;
    top:0;
    left:0;
    background:var(--footer-bg)
}

.commune-holder ul{
    list-style: none;
}